<h1> Data Cleaning </h1>

In [3]:
import  pandas as pd
import os

In [17]:
# creating directory to store clean data
directory_path = "Cleaned Data"
os.makedirs(directory_path, exist_ok=True)

directory_Data = "Raw Data"
os.makedirs(directory_Data, exist_ok=True)

<h2>1. Target</h2>
<h3> <i>S&P/Case-Shiller U.S. National Home Price Index</i></h3>

In [84]:
# reading target data
target_data = pd.read_csv("./Raw Data/CSUSHPISA.csv")

# Setting DATE as index, column renaming, setting DATE as index, filtering data from "2024-01-01":"2024-03-01".
target_data.set_index('DATE', inplace=True)
target_data.rename(columns={'CSUSHPISA':'target'}, inplace=True)
target_data.index = pd.to_datetime(target_data.index)
target_data = target_data["2004-01-01":"2024-03-01"]

target_data["target"] = target_data['target'].round(3)

target_data.head()

             target
DATE
2004-01-01  141.646
2004-02-01  143.191
2004-03-01  145.058
2004-04-01  146.592
2004-05-01  148.185

In [85]:
target_data.shape

(243, 1)

In [86]:
# storing the data into Cleaned data folder
target_data.to_csv("Cleaned Data/target_data.csv")

<h2>2. Population</h2>
<h3> <i>Population include resident as well as armed forces who serving outside</i></h3>

In [87]:
# Load the population data
population_data = pd.read_csv("./Raw Data/POPTHM.csv")

# Setting Date index and other thing from date 2004-01-01 to date 2024-03-01

population_data.set_index('DATE', inplace =True)
population_data.rename(columns= {'POPTHM': 'population'}, inplace =True)
population_data.index = pd.to_datetime(population_data.index)
population_data = population_data["2004-01-01":"2024-03-01"]

population_data.head()

            population
DATE
2004-01-01    292046.0
2004-02-01    292230.0
2004-03-01    292434.0
2004-04-01    292651.0
2004-05-01    292872.0

In [88]:
population_data.shape

(243, 1)

In [89]:
# store the data into cleaned data
population_data.to_csv("Cleaned Data/population.csv")

<h2>3. Personal Income</h1>
<h3><i>Income person return for their provision labour, land, capital used and next current payment transfer

In [90]:
# load the income data
income_data =  pd.read_csv("./Raw Data/PI.csv")

# Setting DATE as index, column renaming, setting DATE as index, filtering data from "2004-01-01":"2024-03-01"

income_data.set_index('DATE', inplace =True)
income_data.rename(columns= {'PI': 'income'}, inplace =True)
income_data.index = pd.to_datetime(income_data.index)
income_data = income_data["2004-01-01":"2024-03-01"]

income_data.head()

            income
DATE
2004-01-01  9731.8
2004-02-01  9765.4
2004-03-01  9815.8
2004-04-01  9865.8
2004-05-01  9950.0

In [91]:
income_data.shape

(243, 1)

In [92]:
income_data.to_csv("Cleaned Data/income.csv")

## 4. Gross Domestic Product

#### <i>Featured measure of U.S. output, is the market value of the goods and services produced by labor and property located in the United States.</i>

In [93]:
gdp_data = pd.read_csv("./Raw Data/GDP.csv")

# filtering data from 2004 to 2024
gdp_data.set_index('DATE', inplace=True)
gdp_data.index = pd.to_datetime(gdp_data.index)

# resampling
gdp_data = gdp_data.resample('M').ffill()

gdp_data = gdp_data["2004-01-01":"2024-03-01"]

gdp_data.head()

                  GDP
DATE
2004-01-31  11923.447
2004-02-29  11923.447
2004-03-31  11923.447
2004-04-30  12112.815
2004-05-31  12112.815

In [94]:
gdp_data.shape

(241, 1)

In [122]:
# load data into cleaned data
gdp_data.to_csv("Cleaned Data/gdp.csv")

## 5. Unemployment Rate

#### <i>The unemployment rate represents the number of unemployed as a percentage of the labor force.</i>

In [96]:
unemploymentRate_data = pd.read_csv("./Raw Data/UNRATE.csv")

# Setting DATE as index, column renaming, setting DATE as index, filtering data from "2004-01-01":"2024-03-01"

unemploymentRate_data.set_index('DATE', inplace =True)
unemploymentRate_data.rename(columns= {'UNRATE': 'unemployed_rate'}, inplace =True)
unemploymentRate_data.index = pd.to_datetime(unemploymentRate_data.index)
unemploymentRate_data = unemploymentRate_data["2004-01-01":"2024-03-01"]

unemploymentRate_data.head()

            unemployed_rate
DATE
2004-01-01              5.7
2004-02-01              5.6
2004-03-01              5.8
2004-04-01              5.6
2004-05-01              5.6

In [97]:
unemploymentRate_data.shape

(243, 1)

In [98]:
# load into cleaned data
unemploymentRate_data.to_csv("Cleaned Data/unemployed_rate.csv")

## 6. Housing starts (New Housing Project)

#### <i>This is a measure of the number of units of new housing projects started in a given period.</i>

In [157]:
housingStart_data = pd.read_csv("./Raw Data/HOUST.csv")

# Setting DATE as index, column renaming, setting DATE as index, filtering data from "2004-01-01":"2024-03-01"
housingStart_data.set_index('DATE', inplace =True)
housingStart_data.rename(columns= {'HOUST': 'house_start'}, inplace =True)
housingStart_data.index = pd.to_datetime(housingStart_data.index)
housingStart_data = housingStart_data["2004-01-01":"2024-03-01"]

housingStart_data.head()

            house_start
DATE
2004-01-01       1911.0
2004-02-01       1846.0
2004-03-01       1998.0
2004-04-01       2003.0
2004-05-01       1981.0

In [100]:
housingStart_data.shape

(243, 1)

In [101]:
# load the filter data into Cleaned data
housingStart_data.to_csv("Cleaned Data/house_starts.csv")

## 7. Mortgage Rate

#### <i>A mortgage rate is the interest rate charged for a home loan </i>

In [166]:
mortgage_data =  pd.read_csv("./Raw Data/MORTGAGE30US.csv")

# filtering data from 2004 to 2024
mortgage_data.set_index('DATE', inplace =True)
mortgage_data.rename(columns= {'MORTGAGE30US': 'mortgage_rate'}, inplace =True)
mortgage_data.index = pd.to_datetime(mortgage_data.index, dayfirst= True)

mortgage_data = mortgage_data.resample('M').ffill()

mortgage_data = mortgage_data["2004-01-01":"2024-03-01"]

mortgage_data

            mortgage_rate
DATE
2004-01-31         5.7125
2004-02-29         5.6350
2004-03-31         5.4450
2004-04-30         5.8300
2004-05-31         6.2700
...                   ...
2023-10-31         7.7900
2023-11-30         7.2200
2023-12-31         6.6100
2024-01-31         6.6900
2024-02-29         6.9400

[242 rows x 1 columns]

In [167]:
mortgage_data.shape

(242, 1)

In [172]:
mortgage_data.to_csv("Cleaned Data/mortgage.csv")

## 8. Employment-Population Ratio (emratio)

In [170]:
emratio = pd.read_csv("./Raw Data/EMRATIO.csv")

# filtering data from 2004 to 2024
emratio.set_index('DATE', inplace =True)
emratio.rename(columns= {'EMRATIO': 'emratio'}, inplace =True)
emratio.index = pd.to_datetime(emratio.index)

emratio = emratio["2004-01-01":"2023-07-01"]

emratio.head()

            emratio
DATE
2004-01-01     62.3
2004-02-01     62.3
2004-03-01     62.2
2004-04-01     62.3
2004-05-01     62.3

In [171]:
emratio.shape

(235, 1)

In [121]:
emratio.to_csv("Cleaned Data/emratio.csv")

## 9. Consumer Price Index (IR - Inflation Rate)
#### <i>Consumer Price Index for All Urban Consumers: All Items</i>

In [160]:
consumer_data = pd.read_csv("./Raw Data/CPIAUCSL.csv")

consumer_data.set_index("DATE", inplace=True)
consumer_data.rename(columns={'CPIAUCSL':'consumer_price_index'}, inplace=True)
consumer_data.index = pd.to_datetime(consumer_data.index)

# Resampling
consumer_data = consumer_data.resample('M').ffill()

# # Set the day of the index to 1
consumer_data.index = consumer_data.index.map(lambda x: x.replace(day=1))
consumer_data = consumer_data["2004-01-01":"2024-01-01"]

consumer_data.head()

            consumer_price_index
DATE
2004-01-01                 186.3
2004-02-01                 186.7
2004-03-01                 187.1
2004-04-01                 187.4
2004-05-01                 188.2

In [161]:
consumer_data.shape

(241, 1)

In [162]:
consumer_data.to_csv("Cleaned Data/consumer_price_index.csv")

## 10. Median Sales Price.

#### Median Sales Price of Houses Sold for the United States.(US Dollers)

In [145]:
mspus = pd.read_csv("./Raw Data/MSPUS.csv")

mspus.set_index('DATE', inplace=True)
mspus.index = pd.to_datetime(mspus.index)
mspus.rename(columns={'MSPUS':'median_sales_price'}, inplace=True)
# Resampling
mspus = mspus.resample('M').ffill()
# # Set the day of the index to 1
mspus.index = mspus.index.map(lambda x: x.replace(day=1))
mspus = mspus["2004-01-01":"2024-03-01"]

mspus.head()

            median_sales_price
DATE
2004-01-01            212700.0
2004-02-01            212700.0
2004-03-01            212700.0
2004-04-01            217600.0
2004-05-01            217600.0

In [142]:
mspus.shape

(241, 1)

In [146]:
mspus.to_csv("Cleaned Data/median_sales_price.csv")

## 11. Homeownership Rate (Percentage)

#### The homeownership rate is the proportion of households that is owner-occupied.

In [149]:
home_ow_rate = pd.read_csv("./Raw Data/RSAHORUSQ156S.csv")

# Setting DATE as index, column renaming, setting DATE as index, filtering data from "2004-01-01":"2024-03-01"

home_ow_rate.set_index('DATE', inplace =True)
home_ow_rate.index = pd.to_datetime(home_ow_rate.index)
home_ow_rate.rename(columns= {'RSAHORUSQ156S': 'home_ow_rate'}, inplace =True)

# Resampling
home_ow_rate = home_ow_rate.resample('M').ffill()

# # Set the day of the index to 1
home_ow_rate.index = home_ow_rate.index.map(lambda x: x.replace(day=1))
home_ow_rate = home_ow_rate["2004-01-01":"2024-03-01"]

home_ow_rate.head()

            home_ow_rate
DATE
2004-01-01          68.7
2004-02-01          68.7
2004-03-01          68.7
2004-04-01          69.4
2004-05-01          69.4

In [150]:
home_ow_rate.shape

(241, 1)

In [151]:
housingStart_data.to_csv("Cleaned Data/house_ownership_rate.csv")

## 12. Consumer Confidence Index
#### University of Michigan: Consumer Sentiment

In [163]:
cci = pd.read_csv("./Raw Data/UMCSENT.csv")

# filtering data from 2004 to 2024
cci.set_index('DATE', inplace=True)
cci.index = pd.to_datetime(cci.index)
cci.rename(columns={'UMCSENT':'consumer_confidence_index'}, inplace=True)

# Resampling
cci = cci.resample('M').ffill()

# # Set the day of the index to 1
cci.index = cci.index.map(lambda x: x.replace(day=1))

cci = cci['2004-01-01':'2024-03-01']

cci.head()

           consumer_confidence_index
DATE
2004-01-01                     103.8
2004-02-01                      94.4
2004-03-01                      95.8
2004-04-01                      94.2
2004-05-01                      90.2

In [164]:
cci.shape

(243, 1)

In [165]:
cci.to_csv("Cleaned Data/consumer_confidence.csv")